{% extends "app/index.html" %}
{% load static %}

{% block title %}Home {% endblock %}

{% block content%}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Diego
            <span class="text-primary">Peluffo</span>
        </h1>
            <div class="subheading mb-5">
                {{ personal.city }} · {{ personal.website }} · {{ personal.phone }} ·
                    <a href="mailto:name@email.com">{{ personal.email }}</a>
            </div>
            <p class="lead mb-5">{{ personal.profile }}</p>
            <div class="social-icons">
                <a class="social-icon" href="{{ personal.linkedin_url }}"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="{{ personal.researchgate_url }}"><i class="fab fa-researchgate"></i></a>
                <a class="social-icon" href="{{ personal.twitter_url }}"><i class="fab fa-twitter"></i></a>
                <a class="social-icon" href="{{ personal.facebook_url }}"><i class="fab fa-facebook-f"></i></a>
            </div>
    </div>
</section>
{% endblock %}
