{% extends "app/index.html" %}
{% load static %}

{% block title %}Research Lines {% endblock %}

{% block content %}
  <section class="resume-section" id="research">
      <div class="resume-section-content">
          <h2 class="mb-5">Research Lines</h2>
          {% for research in researches %}
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="flex-grow-1">
                  <h3 class="mb-0">{{ research.title }}</h3>
                  <p>{{ research.description }}</p>
              </div>
          </div>
          {% endfor %}
      </div>
  </section>
{% endblock %}
